/dist
/bin
/.vscode
/.claude
/main.go

# Example binaries
examples/*/async_parallel
examples/*/basic
examples/*/complex
examples/*/complex_async
examples/*/cross_package
examples/*/sets
examples/*/simple


# APM dependencies
apm_modules/
