/dist
/bin
/.vscode
/.serena/cache
/.claude
/.specify

# Example binaries
examples/*/async_parallel
examples/*/basic
examples/*/complex
examples/*/complex_async
examples/*/cross_package
examples/*/sets
examples/*/simple
